In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from taipy.gui import Gui, Markdown, State, notify

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df = pd.read_csv('Diwali Sales Data.csv', encoding= 'unicode_escape')

In [5]:
state = list(df["State"].unique())
occu = list(df["Occupation"].unique())
layout = {"margin": {"l": 220}}
states = []
occus = []

In [6]:
df["Orders"].unique()

array([1, 3, 2, 4], dtype=int64)

In [7]:
df["Age Group"].unique()

array(['26-35', '0-17', '18-25', '55+', '46-50', '51-55', '36-45'],
      dtype=object)

In [8]:
data = {
    "Date": pd.date_range("01-03-05", periods=4, freq="D"),
    "State": [-15,-12.9,7.2,10.2],
    "Min": [-22,-19.7,2.7,6.5],
    "Max": [-8.6,-8.2,12.,13.5]
}

In [9]:
def filter(states,occus):
    df2 = df[
        df["State"].isin(states)
        & df["Occupation"].isin(occus)
    ]

    print("Number of rows after filtering:", len(df2)) 

    return df2

def on_filter(state):
    if len(state.states) == 0 or len(state.occus) == 0:
        notify(state, "Error", "No results found. Check the filters.")
        return
    
    state.df_selection = filter(
        state.states, state.occus
    )

In [10]:
page = """
<|toggle|theme|>

<|text-center |
# **SALESAI   ðŸ¤–**{: style="color: #51829B"}
>
<hr/>
### **SALES CALCULATOR**{: style="color: #AD88C6"}
<|1 1 1 |layout|
<total_Product|
#### **Number of products sold**:
<|{number_of_products_sold}|number|>
|total_Product>

<amount|
####  **Amount of One Product**:
<|{amount_of_one_product}|number|>
|amount>

<amount_p|
#### **Cost of making one Product**:
<|{Cost_of}|number|>
|amount_p>
|>
<br/>
<|Calculate|button|on_action=button_pressed|>
<|text-center |
##**TOTAL SALE:**
Rs. 51,000
>
<br/>
<hr/>
## **DATA ANALYSIS**{: style="color: #AD88C6"}
<|{data}|chart|mode=lines|x=Date|y[1]=State|y[2]=Min|y[3]=Max|line[1]=dash|color[2]=blue|color[3]=red|>

<|1 1 1 1|layout|
<total_amount|
#### **AMOUNT**:
Rs. <|{int(df['Amount'].sum())}|>
|total_amount>

<orders|
####  **Orders count**:
<|{int(df['Orders'].sum())}|> units
|orders>

<age|
#### **Age Group**:
<|{int(df['Age Group'].count())}|>
|age>

<user|
#### **No of **Users:
<|{int(df['User_ID'].count())}|> User
|user>
|>
<br/>
<hr/>
## **DO DATA ANALYSIS BY APPLYING FILTERS**{: style="color: #AD88C6"}
<|20 80|layout|gap=30px|
<|sidebar|
## **Apply Filter:** {: style="color: #51829B"}

<|{states}|selector|lov={state}|multiple|label=STATE|dropdown|on_change=on_filter|class_name=fullwidth|>
<br/>
<|{occus}|selector|lov={occu}|multiple|label=OCCUPATION|dropdown|on_change=on_filter|class_name=fullwidth|>

|>

<main_page|

<|1 1 1 1|layout|
<total_amount|
#### **AMOUNT**:
Rs. <|{int(df['Amount'].sum())}|>
|total_amount>

<orders|
####  **Orders count**:
<|{int(df['Orders'].sum())}|> units
|orders>

<age|
#### **Age Group**:
0-17 
<br/>
26-35
|age>

<user|
#### **No of **Users:
<|{int(df['User_ID'].count())}|> User
|user>
|>
<br/>

<|DIWALI SALES|expandable|not expanded|
<|{df}|table|page_size=5|>
|>
|main_page>
|>
"""

In [11]:
def button_pressed(state):
    state.scenario.number_of_products_sold.submit(wait=True)
    state.scenario.amount_of_one_product.submit(wait=True)
    state.scenario.Cost_of.submit(wait=True)
    t = number_of_products_sold * amount_of_one_product - Cost_of * number_of_products_sold
    state.t = scenario.t.read()

In [12]:
if __name__ == "__main__":
    df2 = filter(states, occus) 
    total_market_cap = int(df["Amount"].sum())
    page = page.replace("<|{int(df2['Amount'].sum())}|>", f"<|{total_market_cap}|>")

Number of rows after filtering: 0

In [ ]:
Gui(page).run(margin="0em", title="Sales Dashboard")